<nav class="navbar">
	<ul>
		<li><a href = "/">PORTFOLIO</a></li>
		<li><a href = "/resume">RÉSUMÉ</a></li>
	</ul>
</nav>

<nav class="mobileNavbar">
	<ul>
		<li><a href = "/">PORTFOLIO</a></li>
		<li><a href = "/resume">RÉSUMÉ</a></li>
	</ul>
</nav>
