header {
	font-size: 15px;
}

.navbar {
	margin-bottom: 10px;
}

.mobileNavbar {
	margin-bottom: 10px;
	display: none;
}

tab {
	padding-left: 4em;
}

.container {
	padding: 10px 37px 10px 37px;
	background-color: white;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 0px 11px 0px rgba(122,122,122,1);
}

header img {
	float:right;
	width: 70px;
	height: 70px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
}

body {
	background-color: #E6E6E6;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px 8px 8px 0px;
	margin-right: 20px;
}

a:link {
	color: #555555;
	text-decoration: none;
	font-size: 14px;
}

a:visited {
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

.postImage {
	width: 242px;
	height: 150px;
	float: right;
	margin: 20px 20px 20px 20px;
}

.embedWrapper iframe {
	border: 0;
	width: 640px;
	height: 360px;
}

.embedWrapper video {
	border: 0;
	width: 640px;
	height: 360px;
}

.gameWrapper #cursors {
	border: 0;
	width: 640px;
	height: 480px;
}

.gameWrapper #lifeGame {
	border: 0;
	width: 640px;
	height: 480px;
}

.gameWrapper iframe {
	border: 0;
	width: 640px;
	height: 480px;
}

@media only screen and (max-width : 768px) {
	body {
		padding: 0px;
	}

	.postImage {
		width: 121;
		height: 75px;
	}

	header {
		font-size: 11px;
	}

	h1 {
		font-size: 22px;
	}

	a:link {
		font-size: 11px;
	}

	header img {
		width: 45px;
		height: 45px;
	}

	.navbar {
		display: none;
	}

	.mobileNavbar {
		display: block;
	}

	.container {
		padding: 7px 7px 7px 7px;
	}

	post img {
		width: 100px;
		height: auto;
		float: right;
		margin: 10px 10px 10px 10px;
	}

	.embedWrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 56.25%;
	}

	.embedWrapper iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	.embedWrapper video {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	.gameWrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 75%;
	}

	.gameWrapper #cursors {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	.gameWrapper #lifeGame {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	.gameWrapper iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}