<img src = "/media/bismarck.jpg" class = "postImage">
<a name="bismarck"></a>
<h1>Bismarck</h1>
<p>
	<i>1st place in the Latinamerican cup Robomatrix - Maze category</i><br>
	<br>
	Bismarck is a robot that finds the exit to a maze as quickly as possible. The hardware aspects of the project were handled by my teammate Silvia Arambula (which you can see in the video), and the software aspects by me. The robot utilizes a Teensy 3.2 as its main controller and has 3 wheels, 2 motorized ones at the sides and another one in the front. It also has 3 ultrasonic sensors at both sides and front, these are used to determine the behavior of the robot as to what wheel to move, how much, and at what intensity.<br>
	<br>
	Due to some unexpected hardware constraints, I had to program the robot 2 hours before the competition. Bismarck only utilizes 2 out of the 3 sensors it has. With these 2, it performs the "right-hand rule". This involves always keeping a wall to the right side of the robot, only turning left whenever a wall comes close to the front. This allows Bismarck to solve any maze, as long as it has an exit, it will pass through it.<br>
	<br>
	The competition was held in Guanajuato, Mexico and due to some problems I could not assist myself, only my teammate.
	You can see Bismarck in action in the video below:<br>
	<div class = "embedWrapper">
		<video preload = "meta" controls><source src = "/media/Bismarck.mp4" type="video/mp4"></video>
	</div>
</p>
<hr>