<img src = "/media/haxepunk.png" class = "postImage">
<a name="haxepunk"></a>
<h1>HaxePunk</h1>
<p>
	<i>Contributor</i><br>
	<br>
	HaxePunk is a game engine written in Haxe and aimed towards cross-platforming.
	As of September, 2016, the project had been mostly dead, however, one of the original creators posted on GitHub his desire to revive it and push for a release of version 4.0.0. Since I like it so much, I contributed by adding custom cursors to the engine. My pull request was recently accepted and will be included in the new version. It can already be seen on the development branch of the engine right now.<br>
	<br>
	I also made an example which will be featured in the offical page as a demo for the engines capabilities. You can find it right below.<br>
	<br>
	<b>Hover over the red box to turn your cursor red.</b><br>
	<b>Hover over the blue box to turn your cursor blue.</b><br>
	<b>Hover over the black box to toggle the native cursor.</b><br>
	<b>Also works with touch on mobile.</b><br>
	<div class = "gameWrapper">
		<div id = "cursors"></div>
	</div>
	<% include ../../public/applications/cursors/index.html %>
</p>
<hr>