<a name="life"></a>
<img src = "/media/life.png" class = "postImage">
<h1>Life</h1>
<p>
	<i>Jon Conway's Game of Life clone</i><br>
	<br>
	Simple clone I made just for fun, runs on the HaxePunk engine. You can play it right below.<br>
	<br>
	<b>Click on squares to spawn or kill a cell</b><br>
	<b>Enter jumps to the next generation</b><br>
	<b>For automatic generation: K starts, L accelerates, J decelerates.</b><br>
	<div class = "gameWrapper">
		<div id = "lifeGame"></div>
	</div>
	<% include ../../public/applications/life/index.html %>
</p>
<hr>