<a name="light"></a>
<h1>Light</h1>
<p>
	<i>Device that indicates whether a classroom is occupied or not.</i><br>
	<br>
	Light is the project I made for the Intel Internet of Things laboratory at my school, CETYS Universidad. I used an Intel Edison inside a box and hooked up an LCD display and a light sensor to it, also all the code, from the web server to the hardware control is written in Python. I programed the device so that it created a web sever, accesible through the school's network that showed Ocuppied if the light sensor detected a lot of liht, or Free if it did not.<br>
	<br>
	Since the equiment given to us was kind of limited, I had to use a light sensor, but If I made the project again I would most likely use an infrared one, since I think the better way of determining if a classroom is occupied or not is by heat, rather than the lights being on or off.<br>
	<br>
	You can find a video made by school right below, it is in Spanish but either way I think the important part is that I get to show the project visually.<br>
	<div class = "embedWrapper">
		<video preload = "meta" controls><source src = "/media/Light.mp4" type="video/mp4"></video>
	</div>
</p>
<hr>
