<img src = "/media/puyo.png" class = "postImage">
<a name="puyo"></a>
<h1>Puyo</h1>
<p>
	<i>A Puyo puyo clone</i><br>
	<br>
	The game was developed in C++ using SDL2. Did this mainly for my job application at Gameloft, which I ended up getting (Yay). Part of the process implies going to the company's building and adding features assigned to you by an instructor. The first one was relatively easy, I needed to make it so moving to the right and to the left did not stop movement, but rather "teleport" it to the other side. As if, you go to the right, and then come out of the left side of the screen. This also had to work with rotations.<br>
	<br>
	However, the fun part come at task 2, which had me adding a computer controlled Puyo pair. I really did not expect something that big to be assigned. Either way I ended up liking it very much. Let me explain in detail how it worked.<br>
	<br>
	The computer had a main goal, and that is, to make Puyo "combos". Combos are simply rows or columns of 4 or more Puyos of the same color, which then get destroyed and other Puyos can fall to fill in the gap. There are 2 ways of accomplishing this, you can either stack Puyos vertically, or horizontally. So how do we do this?<br>
	<br>
	We iterate through the Puyo list, for this, we don't actually do any calculations of any sort, we are just looking at the state of the board and making decisions based on it. All the information relevant to us has already be done in another method, called Update.<br>
	<br>
	Each Puyo is assigned with a new property, lets call it <u>noAbove</u>. This is used to know each Puyo has another one above itself. We take the color of both of our Puyos in our controlled pair and we compare it to each of the Puyos on the board. If one matches, then we can determine what kind of combo we can do with said Puyo.<br>
	<br>
	For each Puyo, we will first try to make a vertical combo with it, and then a horizontal one. Vertical combos are first because they are usually easier to perform. Testing for them is done with the property <u>noAbove</u>, if its set to true, then we now know that this is a potential combo and we move to the right or to the left, matching the the X axis of our controlled Puyo to the Puyo on the board. Because accelerating the game would also affect the human player, we let it fall at normal speed.<br>
	<br>
	If there is no vertical combo possibity then we try to make a horizontal combo. This is done by reusing the properties that handle side collisions for moving. We check for Puyos to the right or to the left, and if we find an empty space, we move to match the X axis of our controlled Puyo to the one of the Puyo on the board, plus or minus 32 (the length of a Puyo), depending on which side the space is in.<br>
	<br>
	What happens if there is no possible combo to be made? I took an "least damage possible" approach to this, I recognize it is not the most effective way to handle it, but I had a limited time to develop it. For this case, the computer will land the Puyos in the lowest available level, which is calculated in the Update method.<br>
	<br>
	You can find a demonstration right below, Puyo pairs that fall from the right are controlled by the computer, the left player is me.<br>
	<div class = "embedWrapper">
		<video preload = "meta" controls><source src = "/media/Puyo.mp4" type="video/mp4"></video>
	</div>
</p>
<hr>