<img src = "/media/void.png" class = "postImage">
<a name="void"></a>
<h1>Void</h1>
<p>
	<i>A demo to test JavaScript capabilities for a multiplayer game.</i><br>
	<br>
	Void is a simple multiplayer JavaScript demo that synchronices player movement between all clients. At the start, the client is prompted to choose a username, then it renders the location of all other players in realtime on a canvas. Only JavaScript, HTML5 and CCS3 where used in the making.<br>
	<br>
	You can test it right below, if no nickname is choosen, it will be picked randomly.<br>
	<br>
	<b>Movement is done with WASD.<br>
	I recommend opening up another tab to see the effect right away.</b><br>
	<div class = "gameWrapper">
		<iframe src = "https://edgarmagdaleno.me:4000/"></iframe>
	</div>
</p>
<hr>