<a name="zen"></a>
<img src = "/media/yingyang.jpg" class = "postImage">
<h1>Zen</h1>
<p>
	<i>The Zen programming language compiler</i><br>
	<br>
	Made in C++, Zen is the compiler for the programming language of the same name. It generates an ELF64 executable with an x86_64 architecture instruction set that runs natively on Linux. It builds a binary from the ground up 
by writting hex values to a file, and then giving executable permissions to it. Because of this, there is no intermedary stage between compilation and execution, no object code, LLVM or other assembly compilation.<br>
<br>
Its usage is very similar to g++, I encourage watching the video below to see it in action.<br>
	<br>

	<div class = "embedWrapper">
		<video preload = "meta" controls><source src = "/resources/media/Zen.mp4" type="video/mp4"></video>
	</div>
</p>
<hr>
