<img src = "/media/zoon.jpg" class = "postImage">
<a name="zoon"></a>
<h1>Zoon</h1>
<p>
	<i>Zoon is a game developed in Haxe with the HaxePunk engine.</i><br>
	<br>
	Personal project just for fun, had the opportunity to be the featured as the main project for the Computer Science booth at ExpoCETYS.<br>
	<br>
	Each player can chose their ship, abilities, and also invest points into their stats.<br>
	<tab><b>Life:</b> How much hit points the player has.<br>
	<tab><b>Speed:</b> How fast a player can move.<br>
	<tab><b>Energy:</b> This is the resource used to deploy abilities in the game. Investing points into this increases the maximum energy capacity.<br>
	<br>
	Each ability costs a certain amount of energy, depending on how much damage it does or its effects on the other player. There are no cooldowns on any ability, however, energy regenerates rather slowly, so players have to balance it so they can have enough for both attacking and defending at a certain point. This incentives planning a strategy for place and time of attacks so that you can react to an incoming ability.<br>
	<br>
	There are 7 abilities in total in the game:<br>
	<tab><b>Shotgun:</b> Launches 5 projectiles that deal damage to the enemy.<br>
	<tab><b>Reflector:</b> Deploys a wall that bounces all projectiles on contact.<br>
	<tab><b>Paralyzer:</b> Quick explosion around the player that paralyzes the enemy on contact.<br>
	<tab><b>Buster:</b> Launches a projectile that deals high damage, energy cost is high.<br>
	<tab><b>Snowball:</b> Projectile that slows and deal damage to the enemy.<br>
	<tab><b>Blizzard:</b> Launches 8 projectiles around the player that slow and deal damage to the enemy. <br>
	<tab><b>Fire:</b> The player rapidly launches himself into a ball of fire, gaining high speed and dealing tons of damage on contact with the enemy. <br>
	<br>
	Heres a video demonstration:<br>
	<div class = "embedWrapper">
		<video preload = "meta" controls><source src = "/media/Zoon.mp4" type="video/mp4"></video>
	</div>
</p>
<hr>