<html lang="en">
<head>
	<% include ../partials/head.html %>
</head>
<body>
	<div class = "container">
		<% include ../partials/header.html %>

		<% projects.forEach(function(project) { %>
			<%- include('../projects/' + project) %>
		<% }) %>
	</div>
</body>
</html>